body{
  text-align: center;
  font-family: "PT Sans", sans-serif ;
}



a{
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}




.btn{
  /* font-family: "Roboto"; */
  background-color: #ff0f33;
  color: white ;
  border: solid #ff0f33 2px;
  /* margin: 5%; */
  margin: 3%;
  transition: all 0.2s ease-in;

}

.btn:hover{
  background-color: white;
  color: #ff0f33 ;
  border: solid #ff0f33 2px;
  font-weight: 600;

}



#title-section svg{
  color: black;
}


  .dropdown .btn{
    color:black;
  }

.dropdown-menu {
    max-height: 70vh;
    overflow-y: auto;
    color: black !important;
}
.dropdown-menu a{
  font-size: 1.2rem !important;
}

#title-section nav .btn{
    background-color: transparent;
}

#title-section .btn:hover{
    color: black;
    border: none;
}


.mynavbar .membership-info{
  background-color: #ff0f33;
  padding: 3%;
}
.mynavbar .membership-info a{
  color: white;
}


/* #title-section svgs */
#title-section .nav-link{
  font-size: 1.3rem;
  transition: all 0.2s ease;
  color: black;
}
#title-section .nav-link:hover {
  text-decoration: underline !important;
  color: black;
}




.bottomAlert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  display: none; /* Initially hide the alert */
}


.jconfirm-box{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.alert-btn{
  font-weight: lighter !important;
  /* font-family: "Roboto" !important; */
}
.green-btn{
  color: white ;
  border: none;
  margin: 5%;
  background-color: green ;
  
}
.green-btn:hover{
  background-color: white;
  color: green !important;
  border: solid green 2px;
  font-size: 110%;
}

.simple-alert-container {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  animation: slideIn 0.5s ease-out;
  z-index: 999;
}
@keyframes slideIn {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

a{
  text-decoration: none !important;
}

.wiki-title{
  text-align: left;
}

.wiki-title a{
  text-decoration: none;
  color: black;
}





/* -------------------------------------- heading section -------------------------------------------------- */
#title-section{
  background-color: white;
}
.mynavbar{

  padding: 3% 8% 0 !important;
  color: white !important;
  /* background-color: #0cb4ba; */
  padding: 2%;
  /* background-color: #efefef; */
}

.inner-mynavbar{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.9%;
  border-radius: 10px;
  background-color: white;
} 


.mynavbar .inner-mynavbar .nav-item{
margin: auto 5%;
font-size: 1.1rem;
}

.mynavbar .nav-link, .mynavbar .navbar-brand{
  color: black;
}
.mynavbar .nav-icon{
background-color: #ff0f33;
}




/*-------------------------------------- footer section --------------------------------------------------*/

#newFooter-section a{
  text-decoration: none ;
}
#newFooter-section a:hover {
  text-decoration: underline;
}


/*-------------------------------------- loader of page and any requests -----------------------------------------*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbf7f79d;
  z-index: 9999;
  transition: opacity 0.50s, visibility 0.50s;
}

.loader-hidden{
  opacity: 0 ;
  visibility: hidden ;
}
#spinner{
  width: 3rem;
  height: 3rem;
  color: #f94747;
  border-width: 7px;
}

.logo{
  text-align: center;

}
.logo img{
  background-color: white;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.navbar-brand {
  font-family: "Gluten", "cursive";
  font-size: 2rem;
  text-align: left;
  line-height: 0;
  /* border: solid black 2px; */
  padding-top: 0%;
  padding-bottom: 0%;
  /* background-color: #00c4cc; */
  border-radius: 10px;
  position: relative;
  bottom: 0;
}


/*------------------------------------- media query ------------------------------------------*/
@media screen and (max-width : 600px) {
  .btn:hover{
    font-size: 0.9rem;
  }
  .btn{
    font-size: 0.8rem;
  }
  
  .logo img{
    height: 3rem;
    width: 3rem;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
  }
  #newFooter-section h6{
    font-size: 0.9rem;
  }
  #newFooter-section{
    font-size: 0.8rem ;
  }
  #newFooter-section p{
    margin-bottom: 0.3rem;
  }
  
}