
{% extends 'base/basic.html' %} 
{% block css%}
{% load static %}
<link rel="stylesheet" href="/media/css/policies.css"/>

{% endblock %} 
{% block body%}
<section id="main-section">
<div class="container-fluid ">
    
    <h1>Returns/Refunds & Cancellations</h1>
<h2>NO RETURN & NO CANCELATION FOR ORDERS </h2>
<p>At Mrunalbooks, We don't provide any return/refund policy for any of our products.</p>

<h2>Cancellations of orders by Mrunalbooks </h2>
<p>At Mrunalbooks, User can not cancel any order after it is placed at any conditions.</p>
<p>At Mrunalbooks, We can cancel any order which is placed by any user at any time.</p>

</div>
</section>
{% endblock %}