{% extends 'base/basic.html' %}


{% block css%}
{% load static %}
<link rel="stylesheet" href="/media/css/about.css">


{% endblock %}


{% block body%}




<section id="about-section">
  <h1 class="heading">
    Mrunal Books
  </h1>
  <p>Welcome to Mrunalbooks, your one-stop destination for a literary journey in the heart of India! We take immense pride 
    in curating a diverse collection of books that cater to the varied tastes and preferences of our readers.
  </p>
</section>



<section class="" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon bi bi-truck"></i>
        <h3 class="feature-title">Home Delivery Available</h3>
        <p>Your favorite books, just a click away – enjoy hassle-free home delivery!</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon bi bi-shop-window"></i>
        <h3 class="feature-title">Pickup from Nearest Store</h3>
        <p>Get the best of both worlds – browse online, select pickup, and grab your books from our closest store.</p>
      </div>

      <div class="feature-box col-lg-4">
        <!-- <i class="icon bi bi-heart-fill"></i> -->
        <i class="icon bi bi-pass"></i>
        <i class="fa-solid fa-clipboard-list"></i>
        <h3 class="feature-title">Prime Memberships</h3>
        <p>Get the prime memberships and get more discount on books.</p>
        <p>.</p>
      </div>
    </div>


  </div>
</section>


{% endblock %}