<!doctype html>
<html lang="en">
{% load custom_tags %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mrunalbooks</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon//favicon-16x16.png">
  <link rel="manifest" href="/media/favicon/site.webmanifest">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="/media/css/index.css">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">

</head>

<body>




  <section id="title-section">



    <nav id="mynavbar" class="mynavbar navbar navbar-expand-lg  ">
      <div class="container inner-mynavbar">
        <div class="logo">
          <img src="/media/logo/logo.svg" alt="Mrunalbooks">
          <a class="navbar-brand" href="">
            <span>Mrunalbooks</span>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="about/">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="contact/">Contact</a>
            </li>

            {% if request.user.is_authenticated is False or request.user.profile.login_type.name == 'normal' %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/accounts/show-membership-plans/">Membership</a>
            </li>
            {% else %}

            <li class="nav-item membership-info rounded">
              <a tabindex="0" data-bs-placement="bottom" data-bs-custom-class="custom-membership-popover"
                data-bs-trigger="manual" id="dismis-popover" class="btn"
                data-bs-content="you are {{request.user.profile.login_type }} member">
                <span class="">
                  {{request.user.profile.login_type }} Member
                </span>
              </a>
            </li>

            {% endif %}

          </ul>

          <div class="list-inline">


            <div class="list-inline-item me-3">

              <a href="/search/" class="text-muted position-relative">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>


              </a>
            </div>


            <div class="list-inline-item me-3">

              <a href="/accounts/wishlist/" class="text-muted position-relative">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-heart">
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                  </path>
                </svg>
                {% if request.user.is_authenticated %}
                <span id="wishlist-count"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill nav-icon">
                  {{request.user.profile.get_wishlist_count}}

                </span>
                {% endif %}
              </a>
            </div>


            {% if request.user.is_authenticated %}

            <div class="dropdown list-inline-item me-3">
              <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </a>
              <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="/accounts/user-profile/">My Account</a></li>
                <li><a class="dropdown-item" href="/accounts/user-address/">My Addresses</a></li>
                <li><a class="dropdown-item" href="/accounts/user-change-password/">Change Password</a></li>
                <li><a class="dropdown-item" href="/accounts/show-orders/">My Orders</a></li>
                <li><a class="dropdown-item" href="/accounts/logout/">Sign Out</a></li>

              </ul>
            </div>
            {% else %}
            <div class="list-inline-item me-3">
              <a class="text-muted position-relative " href="/accounts/login/">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </a>
            </div>

            {% endif %}
            <div class="list-inline-item me-3">
              <a class="text-muted position-relative " href="/accounts/cart/">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart2"
                  viewBox="0 0 16 16">
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                </svg>
                {% if request.user.is_authenticated %}
                <span id="cart-count"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill nav-icon">
                  {{request.user.profile.get_cart_count}}
                </span>
                {% endif %}
              </a>

            </div>
          </div>



        </div>

      </div>
      </div>
    </nav>


    <section id="slideshow-section">


      <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
            aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
            class=""></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="/media/home/nice1.webp" alt="">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="heading">So many books, so little time.</h1>
                <p><a class="btn btn-lg" href="/accounts/register/"><b>Register</b></a>
                  <a class="btn btn-lg" href="/accounts/login/"><b>log In</b></a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="/media/home/nice2.webp" alt="">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="heading">Explore New Books of Various Categories</h1>
                <p><a class="btn btn-lg " href="/accounts/register/"><b>Register</b></a>
                  <a class="btn btn-lg " href="/accounts/login/"><b>log In</b></a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/media/home/nice3.webp" alt="">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="heading">One more for good measure.</h1>
                <p><a class="btn btn-lg" href="/accounts/register/"><b>Register</b></a>
                  <a class="btn btn-lg " href="/accounts/login/"><b>log In</b></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </section>

  </section>


  <section id="category-section" class="py-5">
    <div class="container-fluid">

      <div>
        <h1 class="heading">Categories</h1>
        <hr class="category-section-hr">

      </div>

      <div class="album py-5">
        <div class="container">

          <div class="row viewall">


          </div>

          <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-md-5 g-4">

            {% for category in categories %}
            <div class="col">
              <a href="/categories/{{category.slug}}">
                <div class="card shadow-sm">
                  <div class="img-container">
                    <div class="hover-div"></div>
                    <img src="/media/{{category.image}}" alt="">
                  </div>
                  <p class="mt-3">{{category.name}}</p>
                </div>
              </a>
            </div>
            {% endfor %}



          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="popularbook-section">
    <div class="container-fluid">
      <div class="container">
        <div class="heading-div">
          <h1 class="heading">Discover Your Next Book</h1>
          <hr class="popular-book-hr">

        </div>
        <div class="row viewall">

        </div>
        <div class="container">
          <div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-2 row-cols-2">

            {% for book in products %}

            <div class="col bookcell">
              <div class="card">
                <span class="favoruite-icon-container" id="favoruite-icon-container-{{book.uid}}">

                  {% if book.uid in user_wishlist_product_uids %}
                  <a href="/accounts/not-login-error/" class="red-icon" id="red-{{book.uid}}">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                      class="heart-gray bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                  </a>
                  {% else %}
                  <a href="/accounts/not-login-error/" class="gray-icon" id="gray-{{book.uid}}">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c2c2c2"
                      class="heart-gray bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg>
                  </a>
                  {% endif %}


                </span>


                <a href="/product/{{book.slug}}">
                  <div class="img-container">
                    <div class="hover-div"></div>
                    <img src="/media/{{book.image}}" alt="">
                  </div>
                  <div class="bookinfo mt-2">
                    <p class="bookname">{{book.title|slice:"0:35"}}...</p>

                    {% if book.author %}
                    <p class="authorname">{{book.author}}</p>
                    {% endif %}
                  </div>
                </a>

                <div class="price-info">

                  {% if request.user.profile.login_type.name == "prime" %}
                  <p class="price"> Rs.{{book.prime_price}}</p>
                  <span class="false-price ">Rs.{{book.mrp}}</span>
                  <span class="ms-2 percent"> {{book.prime_discount_percenatage}}% OFF</span>
                  <p class="family-membership">You are getting {{book.prime_discount_percenatage}}% Off for Prime
                    membership</p>
                  {% elif request.user.profile.login_type.name == "dealer" %}
                  <p class="price"> Rs.{{book.dealer_price}}</p>
                  <span class="false-price ">Rs.{{book.mrp}}</span>
                  <span class="ms-2 percent"> {{book.dealer_discount_percenatage}}% OFF</span>
                  <p class="family-membership">You are getting {{book.dealer_discount_percenatage}}% Off for Dealer
                    membership</p>

                  {% else %}
                  <p class="price"> Rs.{{book.normal_price}}</p>
                  <span class="false-price ">Rs.{{book.mrp}}</span>
                  <span class="ms-2 percent"> {{book.normal_discount_percenatage}}% OFF</span>
                  <a href="/accounts/show-membership-plans/" class="family-membership pascal-case-text"><b>Join Prime
                      membership and get {{book.prime_discount_percenatage}}% Off</b><span
                      class="prime-price ms-2"><b>Rs.{{book.prime_price}}</b></span></a>
                  {% endif %}
                </div>


              </div>
            </div>


            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>




  <footer id="newFooter-section" class="text-center text-lg-start text-white" style="background-color: #1c2331">

    <section class="pt-5">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="logo mb-4">
              <img src="/media/logo/logo.svg" alt="Mrunalbooks">
              <a class="navbar-brand" href="">
                <span>Mrunalbooks</span>
              </a>
            </div>

            <p class="text-white">
              Welcome to Mrunalbooks,
              your one-stop destination for a literary journey in the heart of India!
              We take immense pride in curating a diverse collection of books that cater to the varied tastes and
              preferences
              of our readers.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Consumer Policies</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="/terms-and-conditions" class="text-white">Terms and Conditions</a>
            </p>
            <p>
              <a href="/privacy-policy" class="text-white">Privacy Policy</a>
            </p>
            <p>
              <a href="/refund-policy" class="text-white">Return/Replacement Policy</a>
            </p>
            <p>
              <a href="/shipping-policy" class="text-white">Shipping Policy</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
              <a href="/" class="text-white">Home</a>
            </p>
            <p>
              <a href="/custom-admin-management/dashboard" class="text-white">Admin Panel</a>
            </p>
            <p>
              <a href="/search" class="text-white">Search Books</a>
            </p>
            <p>
              <a href="/accounts/show-membership-plans/" class="text-white">Memberships</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p><i class="fas fa-home mr-3"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, ipsa.</p>
            <p><i class="fas fa-envelope mr-3"></i> mrunalbooks.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 91 1111111111</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

      <a class="text-white" href="/">mrunalbooks.com</a>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>


  <script>

    $(document).ready(function () {


      $(document).on('click', ".navbar-toggler", function () {
        $(".inner-mynavbar").css("background-color", "white");
        $(".inner-mynavbar").css("box-shadow", "rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px");
        $("#mynavbar .nav-link, #mynavbar svg, #mynavbar .navbar-brand").css("color", "black");
      })



      $(window).scroll(function () {

        var scroll = $(window).scrollTop();
        if (scroll > 50) {
          $(".inner-mynavbar").css("background-color", "white");
          $(".inner-mynavbar").css("box-shadow", "rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px");
          $("#mynavbar .nav-link, #mynavbar a, #mynavbar svg, #mynavbar .navbar-brand").css("color", "black");

        }
        else if (scroll < 5) {
          $(".inner-mynavbar").css("background-color", "transparent");
          $(".inner-mynavbar").css("box-shadow", "None");
          $("#mynavbar .nav-link, #mynavbar a, #mynavbar svg, #mynavbar .navbar-brand").css("color", "white");

        }
      });
    });


  </script>

  {% if request.user.is_authenticated %}

  {% if request.user.profile.login_type.name != "normal" %}
  <script>
    const dismis_popover = new bootstrap.Popover('#dismis-popover', {
      trigger: 'focus'
    })
  </script>

  {% endif %}


  <script>



    $(document).on('click', "#membership-popover", function () {

      var options2 = {
        html: true,
        content: "You are prime member"
      }
      const exampleE2 = document.getElementById('membership-popover')
      const popover2 = new bootstrap.Popover(exampleE2, options2)
      popover2.show()
    })



    $(document).on('click', '.gray-icon', function () {

      event.preventDefault();
      idstr = this.id;
      idstr = idstr.slice(5);

      $.ajax({

        type: 'GET',
        url: "{% url 'add_to_wishlist_ajax' %}",
        data: { book_uid: idstr },

        success: function (response) {

          var template = `
    <a class="red-icon" id="red-`+ idstr + `">
                    
      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
      class="heart-gray bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
    </svg>
    </a>
  `;

          $('#favoruite-icon-container-' + idstr).html(template);


          $('#wishlist-count').text(response.total_wishlist_count);

        },
        error: function (error) {
          console.error('An error occurred', error);
        }
      });
    });



    $(document).on('click', '.red-icon', function () {

      event.preventDefault();
      idstr = this.id;
      idstr = idstr.slice(4);
      $.ajax({

        type: 'GET',
        url: "{% url 'remove_wishlist_item_ajax' %}",
        data: { book_uid: idstr },

        success: function (response) {


          var template = `
    <a class="gray-icon" id="gray-`+ idstr + `">
                  
      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#c2c2c2"
      class="heart-gray bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
      </svg>
      </a>
  `;

          $('#favoruite-icon-container-' + idstr).html(template);


          $('#wishlist-count').text(response.total_wishlist_count);


        },
        error: function (error) {
          console.error('An error occurred', error);
        }
      });
    });




  </script>
  {% else %}
  {% endif %}

</body>

</html>