{% extends 'base/basic.html' %} 
{% load static %}

{% block css%} 
<link rel="stylesheet" href="/media/css/login.css" />
<link rel="stylesheet" href="/media/css/change_password.css" />


{% endblock %} 

{% block body%}

<section id="contact-section" class="mb-5">
  <div class="container-fluid">
    <div class="container contact-container">
      <h1 class="mb-2">Change Password</h1>
      <form method="post">
        {% csrf_token %} {% include "base/alert.html" %} 
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        <div class="row row-cols-1 g-4">
          {% for field in form %}
          <div class="col">
            <div class="md-form">{{field.label_tag}} {{field}}</div>
            <div class="errorlist">{{field.errors|striptags}}</div>
          </div>
          {% endfor %}
          <div class="col">
            <div class="md-form">
              <button class="btn">Change Password</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>

{% endblock %}
