<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mrunalbooks</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon//favicon-16x16.png">
  <link rel="manifest" href="/media/favicon/site.webmanifest">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  <link rel="stylesheet" href="/media/css/login.css" />
  <link rel="stylesheet" href="/media/css/common.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gluten&family=Merriweather&family=Roboto&display=swap"
    rel="stylesheet">





</head>

<body>

  <section id="contact-section" class="mb-5">
    <div class="container-fluid">
      <div class="container contact-container">
        <h1 class=" mb-2">Reset Password</h1>

        <form method="post">
          {% include "base/alert.html" %}
          {% csrf_token %}

          <div class="row row-cols-1 g-4">


            <div class="col">
              <div class="md-form">
                <input placeholder="New Password" required type="password" id="new_password" name="new_password"
                  class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="md-form">
                <input placeholder="Rewrite New Password" required type="password" id="reconfirm_password"
                  name="reconfirm_password" class="form-control" />
              </div>
            </div>
            <input type="hidden" name="user_id" value="{{user_id}}">


            <div class="col">
              <div class="md-form">
                <button type="submit" class="btn">Reset Password</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>


</body>

</html>