{% extends 'base/basic.html' %}
{% load mathfilters %}

{% load static %}

{% block css%}

<link rel="stylesheet" href="/media/css/contact.css">
<link rel="stylesheet" href="/media/css/order_items.css">


{% endblock %}


{% block body %}

<section id="accounts-order-items-section">


  <div class="container">
    <h2 class="mb-4">View Order Details</h2>

    <div class="row row-cols-3">
      <div class="col">
        <p><b>Order Date : </b>{{order.order_date}}</p>
        <p class="shipping_status"><b>Shipping Status : {% if order.is_shipped == 0 %} not shipped {% else %} shipped {% endif %}</b></p>

      </div>
      <div class="col">
      </div>
      <div class="col">
        <a href="{% url 'download_invoice' order.uid %}" class="btn">
          <span>Download Invoice</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-file-arrow-down" viewBox="0 0 16 16">
            <path
              d="M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5" />
            <path
              d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
          </svg>
        </a>
      </div>

    </div>

    <ul id="whole-cart-list" class="list-group list-group-flush">


      <li class="list-group-item py-3 py-lg-0 px-0 border-top">

        <div class="row row-cols-4 mt-2 mb-2 align-items-center g-0">

          <div class="col">
            <span class="fw-bold">Image</span>
          </div>


          <div class="col">

            <span class="fw-bold">Title and Description</span>
          </div>


          <div class="col">
            <span class="fw-bold">Quantity</span>

          </div>


          <div class="col">
            <span class="fw-bold">Price</span>
          </div>

        </div>


      </li>

      {% for item in all_items %}

      <li id="li-{{item.product.uid}}" class="list-group-item py-3 py-lg-0 px-0 border-top">

        <div class="row align-items-center row-cols-4 g-0">

          <div class="col">
            <img src="/media/{{item.product.image}}" alt="Ecommerce" class="img-fluid">
          </div>


          <div class="col book-info-col">

            <h6 class="mb-0 book-title">{{item.product.title}}</h6>
            <span><small class="text-muted book-author">{{item.product.author}}</small></span>


          </div>

          <div class="col">


            <span id="quantity-{{item.product.uid}}" class="">{{item.quantity}}</span>

          </div>


          <div class="price-col col">


            {% if request.user.profile.login_type.name == 'prime' %}
            <span id="quantity-price-{{item.product.uid}}" class="">Rs. {{ item.quantity|mul:item.product.prime_price }}</span>
            {% elif request.user.profile.login_type.name == 'dealer' %}
            <span id="quantity-price-{{item.product.uid}}" class="">Rs. {{ item.quantity|mul:item.product.dealer_price }}</span>
            {% else %}
            <span id="quantity-price-{{item.product.uid}}" class="">Rs. {{ item.quantity|mul:item.product.normal_price }}</span>
            {% endif %}
          </div>

        </div>


      </li>

      {% endfor %}



    </ul>

    <div class="order-details row row-cols-2 g-4 mt-2 rounded pt-3 ps-3">
      <div class="col">
        <p><b>Order Date : </b>{{order.order_date}}</p>
        <p><b>Order Number : </b> {{order.order_no}}</p>
        <p><b>Delivery Type : </b> {{delivery_type}}</p>
        {% if order.membership_type != 'normal' %}
        <p><b>Delivery Type : </b> {{delivery_type}}</p>
        {% endif %}
        <p>
        <div><b>Billing Address :</b></div>
        <div>{{user_name}}</div>
        <div>{{bill_a.adss2}} {{bill_a.adss1}} {{bill_a.area}} {{bill_a.adss3}} {{bill_a.city}} {{bill_a.state}}
          {{bill_a.pincode}} </div>
        </p>
        <p>
          {% if delivery_type == 'home' %}
        <div><b>Shipping Address:</b></div>
        <div>{{request.user.first_name}} {{request.user.last_name}}</div>
        {% else %}
        <div><b>PickUp Store Address:</b></div>
        <div>{{order.dealer.fname}} {{order.dealer.lname}}</div>
        {% endif %}
        <div>{{ship_a}}</div>
        </p>

      </div>
      <div class="col">
        <div class="total">

          <p><b>Subtotal : </b>Rs. {{items_subtotal}}</p>

          {% if order.coupon %}
          <p><b>Discount : </b>Rs. {{discount_price}}</p>
          {% else %}
          <p><b>Discount : </b>Rs. 00.00</p>
          {% endif %}

          <p><b>Shipping Charge : </b>Rs. {{shipping_charge}}</p>

          <p><b>Tax : </b>Rs.{{tax_amount}}</p>

          <p class="order-total"><b>Order Total : Rs. {{total_amount}}</b></p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}