
{% extends 'base/basic.html' %}


{% block css%}
{% load static %}
<!-- <link rel="stylesheet"  href=" {% static 'css/product.css' %}">  -->
<link rel="stylesheet" href="/media/css/login.css">
<link rel="stylesheet" href="/media/css/common.css">

{% endblock %}


{% block body%}

<section id="contact-section">
    <div class="container-fluid">

        <div class="container contact-container">
            <h1 class="heading mb-5">Dealer Membership Log In</h1>

            <form method="post">
                {% csrf_token %}
                {% include "base/alert.html" %}

                <div class="row row-cols-1 g-4">

                    <div class="col">
                        <div class="md-form ">

                            <input placeholder="Email" required type="email" id="email" name="email" class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="md-form ">

                            <input placeholder="Password" required type="password" id="password" name="password"
                                class="form-control">
                        </div>
                    </div>

                    <div class="col">
                        <div class="md-form ">
                            <button class="btn"> Log In </button>
                            <p>Not Registered yet</p><a href="/accounts/register">Register Now</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>



{% endblock %}